footer {
  position: absolute;
  font-family: Gill-Italic;
  font-size: 15px;
  text-decoration: none;
  color: #000;
  padding-right: 50px;
  margin-left: 50px;
  margin-top: 720px;
  a {
    font-family: Gill-Italic;
    font-size: 15px;
    text-decoration: none;
    color: #000;
    padding-left: 100px;
    margin-left: 15px;
  }
  .facebook {
    position: absolute;
    margin-left: 125px;
  }
  .instagram {
    position: absolute;
    margin-left: 175px;
  }
}

@media only screen and (max-width: 768px) and(min-width: 400px) {
  footer {
    position: absolute;
    text-align: center;
    margin-top: 900px;
    margin-left: 40px;
    width: 727.37px;
    height: 19px;
    a {
      padding-left: 0px;
    }
    .facebook {
      margin-left: 38px;
    }
    .instagram {
      margin-left: 68px;
    }
  }
}

@media only screen and (max-width: 375px) {
  footer {
    position: absolute;
    text-align: center;
    width: 360px;
    height: 67px;
    margin-top: 500px;
    margin-left: 10px;
    a {
      padding-left: 0px;
    }
    .facebook {
      margin-left: 20px;
    }
    .instagram {
      margin-left: 50px;
    }
  }
}
